MONGODB_URI=your-db-url
JWT_SECRET=jwt-secret
ACCESS_EXPIRE=15m
REFRESH_EXPIRE=7d

CLOUDINARY_NAME=your-cloudinary-cloud-name
CLOUDINARY_KEY=your-cloudinary-api-key
CLOUDINARY_SECRET=your-cloudinary-api-secret
CLOUDINARY_ROOT_FOLDER=my_app